/* couleur du fond*/
html,body {
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
}



h1 {
  color: #0065fc;
}

.sizeNav {
  height: 120px;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}

.logo {
  width: 100px;
  height: 50px;
  margin-bottom: 8px;
  padding-left: 10px;
  object-fit: cover;
}

.headerForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#boxhead {
  width: 100vw;
  justify-content: right;
  align-items: center;
  display: flex;
  grid-gap: 10px;
}

.menu-container {
  height: 50px;
}

.menu-container:hover {
  border-top: 2px solid #0065fc;
  border-top: #0065fc;
}

.menu-item {
  text-decoration: none;
  padding-right: 15px;
}

.menu-item:hover {
  color: #0065fc;
  padding: 20px;
}

/* .bordurenav {
  border-top: 1px solid transparent;
  border-bottom: 3px solid lightgrey;
}

.bordurenav:hover {
  border-bottom: rgb(123, 20, 241);
}

.bordurenav2 {
  border-bottom: 3px solid lightgrey;
}

.bordurenav2:hover {
  border-bottom: 3px solid rgb(123, 20, 241);
} */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Mise en page selection de la ville*/

.search_text {
  font-size: 20px;
  padding-left: 25px;
}

#searchWrapper {
  display: flex;
  justify-content: left;
  padding-left: 25px;
}

#searchInput {
  border: solid 1px #e7e9eb;
}

#searchInput:focus {
  border: solid 1px #e7e9eb;
  outline: none;
}

#searchButton {
  height: 40px;
  color: aliceblue;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 0px;
  border-width: 0px;
}

#searchButton2 {
  height: 40px;
  color: aliceblue;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 0px;
  border-width: 0px;
}

.searchButton2 {
  display: none;
}

#searchIcon {
  background-color: #e7e9eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/** Mise en page des filtres*/

.filtr {
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  margin-right: 5px;
}

#filtersContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 2vw;
  padding-left: 25px;
}

.filtersContainer__element:hover {
  border-radius: 60px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid gray;
  cursor: pointer;
  height: 50px;
  box-shadow: 0 0 0 1px #f0ffff;
  transition: box-shadow 0.5s linear;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  background-color: #5dacdd;
}

.filtersContainer__element {
  border-radius: 70px;
  align-items: center;

  border: 2px solid #cfe3e8 ;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgb(255, 249, 249);
  transition: box-shadow 0.5s linear;
  display: flex;
}

.filtersContainer__element__icon:hover {
  background-color: #f0ffff;
}

.filtersContainer__element__icon {
  color: #0065fc;
  background-color: #d6eff6;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.filtersContainer__element__title {
  margin: 0 1rem 0 1rem;
  font-weight: bold;
}

.filtersContainer__element__title:hover {
  background-color: #a2c2e5;
}
/**Mise en page résultats de recherche*/

#resultats {
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-top: 35px;
}
.circle {
  border: solid 1px;
  border-radius: 100%;
  height: 23px;
  width: 23px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 25px;
}
.dispo {
  font-size: 20px;
}

#locationSection {
  margin: 40px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.greyWrapper {
  background-color: #e7e9eb;
  border-radius: 20px;
  padding-bottom: 40px;
}

#titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#boxLeft {
  width: 60%;
  position: relative;
  margin-right: 5px;
  height: 650px;
}

#plusde {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
}

#boxRight {
  width: 30%;
  height: 650px;
  margin-left: 5px;
}

#tittlewrapper2 {
  padding-top: 60px;
  padding-left: 40px;
}

#titleWrapper {
  padding-top: 60px;
  padding-left: 40px;
}

.etpop {
  padding-right: 15px;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.h,
.Aa {
  text-decoration: none;
  color: black;
}

.hebergements2,
.activite2,
.search_tittle {
  font-size: 23px;
  font-weight: bold;
  line-height: 100%;
  padding-left: 25px;
}

.cardImage {
  width: 100%;
  height: 100px;
  border-radius: 15px 15px 0 0;
  padding: 3px;
  object-fit: cover;
}

.verticalCard {
  margin: 20px 0px;
  box-shadow: 5px 5px 5px gray;
  width: 30%;
  height: 195px;
  line-height: 60%;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}

.texte {
  margin-top: 10px;
  font-size: 14px;
}

.TitleV {
  font-size: 15px;
  font-weight: bold;
  line-height: 100%;
}

.Appreciation {
  padding: 10px;
  position: absolute;
  bottom: 0;
  font-size: 80%;
}

.description {
  padding: 10px;
}

.blue {
  color: #0065fc;
}

.grey {
  color: grey;
}

.cardWrapper2 {
  display: flex;
  flex-direction: column;
}

.SBoxPart {
  display: flex;
}

.Box {
  margin: 20px 0px 20px 15px;
  box-shadow: 5px 5px 5px gray;
  width: 87%;
  height: 135px;
  border-radius: 15px;
  padding: 3px;
  position: relative;
  background-color: white
}

.SBoxText {
  padding: 12px;
  line-height: 60%;
  font-size: 14px;
}

.SBoxPart {
  display: flex;
  margin: 0px;
  padding-left: 5px;
  border-radius: 15px 15px 0px 0px;
}

.BoxImg {
  width: 130px;
  height: 124px;
  border-radius: 15px 0 0 15px;
  padding: 3px;
  object-fit: cover;
}

.titleSBT {
  font-size: 15px;
  font-weight: bold;
  line-height: 100%;
}

.Appreciation2 {
  padding: 12px;
  height: auto;
  position: absolute;
  bottom: 0;
  font-size: 80%;
}

#ActivitePart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}


.ActItem {
  width: 22%;
  border-radius: 11px;
  margin: 10px;
  height: 420px;
}

.A {
  box-shadow: 5px 5px 5px gray;
  height: 420px;
  border-radius: 11px;
}
.ActIImag1 {
  width: 100%;
  height: 360px;
  border-radius: 11px 11px 0px 0px;
  object-fit: cover;
}

.ActText {
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  padding-left: 20px;
  position: absolute;
  bottom: 20px;
}

.ActItemTyp1 {
  width: 100%;
  box-shadow: 5px 5px 5px gray;
  border-radius: 11px;
  height: 210px;
  background-color: white;
}

.ActItemTyp2 {
  margin-top: 50px;
  width: 100%;
  box-shadow: 5px 5px 5px gray;
  border-radius: 11px;
  height: 160px;
  background-color: white;
}

.ActIImag2 {
  width: 100%;
  height: 150px;
  border-radius: 11px 11px 0px 0px;
  object-fit: cover;
}

.ActIImag3 {
  width: 100%;
  height: 100px;
  border-radius: 11px 11px 0px 0px;
  object-fit: cover;
}

.ActItemTyp3 {
  width: 100%;
  box-shadow: 5px 5px 5px gray;
  border-radius: 11px;
  height: 180px;
  background-color: white;
}

.ActItemTyp4 {
  margin-top: 40px;
  width: 100%;
  box-shadow: 5px 5px 5px gray;
  border-radius: 11px;
  height: 200px;
  background-color: white;
}

.ActIImag4 {
  width: 100%;
  height: 120px;
  border-radius: 11px 11px 0px 0px;
  object-fit: cover;
}

.ActIImag5 {
  width: 100%;
  height: 140px;
  border-radius: 11px 11px 0px 0px;
  object-fit: cover;
}
.A,
.ActItemTyp1,
.ActItemTyp2,
.ActItemTyp3,
.ActItemTyp4 {
  position: relative;
  box-shadow: 5px 5px 5px gray;
  border-radius: 11px;
}

/**Mise en page footer*/

.foottittle {
  font-size: 25px;
  font-weight: bold;
  line-height: 100%;
}


.FootNav {
  display: flex;
  background-color: gainsboro;
  color: black;
}

.footbox {
  width: 30%;
  padding: 40px;
  line-height: 140%;
}


/** media quieries 991*/


@media screen and (max-width: 991px) {
  .filtr {
    width: 100%;
  }
  #boxLeft {
    width: 100vw;
    height: unset;
  }

  #boxRight {
    width: 100vw;
    height: unset;
  }

  .BoxImg {
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    padding-top: 0px;
  }

  #filtersContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .filtersContainer__element {
    width: auto;
    justify-content: space-between;
    padding-right: 20px;
  }



  #locationSection {
    flex-direction: column-reverse;
    width: 100vw;
  }

  .TitleV {
    padding-top: 40px;
  }

  .SBoxPart {
    flex-direction: column;
  }
  .Box {
    height: 260px;
    width: 30%;
  }
  .cardWrapper2 {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Appreciation2 {
    position: absolute;
    bottom: 0;
  }

  #ActivitePart {
    display: flex;
    flex-wrap: wrap;
  }

  .ActItem {
    width: 40%;
  }

  .A {
    height: 420px;
    width: 100%;
    border-radius: 30px 30px 30px 30px;
  }

  #plusde {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 25px;
    font-weight: bold;
    line-height: 100%;
  }


/** media quieries 767*/


@media screen and (max-width: 767px) {
  .headerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sizeNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #stylbooki {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 120px;
    height: 70px;
    margin-bottom: 8px;
    object-fit: cover;
  }

  #boxhead {
    width: unset;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid #e2ebf7;
  }

  .menu-container {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
  }

  .menu-container:hover {
    border-bottom: #0065fc 3px solid;
    border-top: unset;
    padding: unset;
  }

  .menu-item {
    padding: 3px;
    font-size: 20px;
    text-decoration: none;
    width: 40vw;
    text-align: center;
  }

  .menu-item:hover {
    color: #0065fc;
  }

  #searchWrapper {
    justify-content: center;
    padding-left: unset;
  }

  .searchButton {
    display: none;
    height: unset;
    width: unset;
  }

  .searchButton2 {
    display: unset;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50px;
  }

  #plusde {
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-top: 50px;
  }

  #boxRight {
    width: 100vw;
    height: unset;
  }

  .SBoxPart {
    flex-direction: row;
  }

  .Box {
    margin: 10px 0px;
    box-shadow: 5px 5px 5px gray;
    width: 95%;
    height: 160px;
    border-radius: 30px;
    margin: 5px;
    position: relative;
    background-color: white;
  }

  .SBoxText {
    padding: 6px;
    line-height: 100%;
  }

  .SBoxPart {
    display: flex;
    margin: 0px;
    padding-left: 4px;
  }

  .BoxImg {
    width: 45vw;
    height: 149px;
    border-radius: 30px 0 0 30px;
    padding: 2px;
  }

  .titleSBT {
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    padding-left: 6px;
  }

  .Appreciation2 {
    padding: 12px;
    height: auto;
    position: absolute;
    bottom: 0;
  }

  .cardWrapper {
    display: block;
  }

  #boxLeft {
    width: 100vw;
    background-color: #f2f2f2;
  }

  .verticalCard {
    height: 290px;
    width: 100%;
    border-radius: 30px 30px 30px 30px;
  }

  .cardImage {
    width: 100%;
    height: 180px;
    border-radius: 30px 30px 0 0;
    padding-top: 3px;
  }

  .ActItem {
    width: 100%;
    height: unset;
  }

  #ActivitePart {
    display: flex;
    flex-wrap: wrap;
    height: 2100px;
    align-items: center;
  }

  .ActItemTyp4,
  .ActItemTyp3,
  .ActItemTyp2,
  .ActItemTyp1,
  .A {
    height: 285px;
    width: 100%;
    flex-direction: column;
    border-radius: 30px 30px 30px 30px;
    padding-left: 10px;
  }

  .ActIImag1,
  .ActIImag2,
  .ActIImag3,
  .ActIImag4,
  .ActIImag5 {
    height: 225px;
    border-radius: 30px 30px 0px 0px;
  }

  .FootNav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footbox {
    width: unset;
    padding: 20px;
  }
}